*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	background-color: #303030;
	color: #fff;
}
.wrapper {
	width: 100%;
	.header {
		width: 100%;
		padding: 40px 0;
		.logo {
			width: 450px;
			margin-left: auto;
			margin-right: auto;
			font-size: 48px;
			span {
				color: #cc0808;
			}
		}
	}
	.nav {
		width: 100%;
		padding: 10px 0;
		text-align: center;
		border-top: 1px solid #751b1b;
		border-bottom: 1px solid #751b1b;
		background-color: #c34f4f;
		ol {
			display: inline-block;
			height: 35px;
			line-height: 200%;
			font-size: 18px;
			list-style-type: none;
			li{
			float: left;
			width: 150px;
			height: 40px;
			border-right: 1px solid #751b1b;
			transition: background-color .3s;
			ul{
				display: none;
				height: 40px;
				list-style-type: none;
				
				li{
					position: relative;
					border-top: 1px solid #751b1b;
					background-color: #cf6969;
					z-index: 100;
					
				}
				li:hover {
					background-color: #c34f4f;
				}
				a:hover {
					color: #451717;
				}
			}
	
			}
			li:first-child{
				border-left: 1px solid #751b1b;
			}
			li:hover {
			background-color: #cf6969;	
			}
			a{
				display: block;
				text-decoration: none;
				color: #fff;
				transition: color .3s;
			}
			a:hover {
				color: #751b1b;
			}
		
		}
		ol > li:hover > ul {
			display: block;
		}
	
	}
	.content {
		width: 1000px;
		padding-top: 20px;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
	}
	.socials {
		width: 100%;
		text-align: center;
		background-color: #292929;
		.socialdivs {
			width: 1000px;
			margin-left: auto;
			margin-right: auto;
			.cos {
				float: left;
				height: 155px;
				width: 250px;
				transition: background-color 0.3s;
				.icon {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 40px;
					font-size: 72px;
				}
			}

			.fb:hover {
				background-color: #4668b3;
			}
			.yt:hover {
				background-color: #ff0000;
			}
			.tw:hover {
				background-color: #00acee;
			}
			.onedrive:hover {
				background-color: #00a2ed;
			}
		}
	}
	.footer {
		padding: 30px;
		text-align: center;
		background-color: #222;
	}
	.sticky {
		position: sticky;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 100;
	}
}
